@font-face {
  font-family: 'Soleil';
  src: url('~@/assets/fonts/Soleil_Light.ttf');
}

@font-face {
  font-family: 'Avenir Bold';
  src: url('~@/assets/fonts/AvenirNextLTPro-Bold.otf');
}

@font-face {
  font-family: 'Avenir Regular';
  src: url('~@/assets/fonts/AvenirNextLTPro-Regular.otf');
}

body {
  font-family: 'Avenir Regular', sans-serif;
}

h5 {
  color: $header-text-color;
}

nav {
  a {
    color: $gray-text-color;
    font-weight: bold;
    font-size: 14px;
    &.router-link-exact-active {
      color: $header-text-color;
    }
    &:hover {
      color: $header-hover-color;
      text-decoration: none;
    }
  }
}

.faded-gray {
  color: $gray-text-color;
}

.text-primary {
  color: $header-text-color !important;
}

#table {
  font-size: 14px;
  h6 {
    color: $primary-text-color;
    font-family: 'Avenir Regular', sans-serif;
    font-weight: 800;
    letter-spacing: 0.1px;
  }

  td,
  th {
    padding: 15px 30px;
    font-size: 14px;
    line-height: 15px;
  }

  th {
    color: $gray-text-color;
    font-weight: 400;
  }

  td {
    font-weight: 600;
    .btn {
      font-weight: 300;
    }
  }
}

#settings {
  font-family: 'Soleil', sans-serif;
  legend,
  label,
  h5 {
    text-transform: uppercase;
  }
  font-size: 13px;

  label,
  legend {
    color: $primary-text-color;
    font-weight: bold;
    letter-spacing: 1.21333px;
    line-height: 15px;
  }

  input {
    font-size: 14px;
  }

  legend {
    font-size: 12px;
  }

  label {
    font-size: 12px;
  }

  a {
    color: $primary-text-color;
  }
}

.stat-card {
  h3 {
    color: $primary-text-color;
    font-family: 'Avenir Bold', sans-serif;
  }
  p {
    font-size: 15px;
  }
}
