// Color
$primary-text-color: #4d0032;
$secondary-text-color: #240f00;
$header-text-color: #240f00;
$header-hover-color: rgba(0, 0, 0, 0.7);
$gray-text-color: #737373;
$green-text-color: #6add0e;
$red-text-color: #fd5262;

$white-bg-color: #fff;
$orange-bg-color: #f58634;
$green-bg-color: rgba(106, 221, 14, 0.2);
$red-bg-color: rgba(253, 82, 98, 0.2);
