.badge {
  font-weight: 600;
  width: 105px;
  height: 24px;
  font-size: 12px;
}

.success-badge {
  background-color: $green-bg-color;
  color: $green-text-color;
}
.fail-badge {
  background-color: $red-bg-color;
  color: $red-text-color;
}
