* {
  box-sizing: border-box;
}

.row div {
  margin: 0.5em 0;
}

.table-card {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.table-card > .card-body {
  padding: 0;
  border-radius: 0;
  .table-striped tbody tr:nth-of-type(odd) {
    background: #f8f7f6;
  }
  th,
  tr,
  td {
    border: 0;
    line-height: 19px;
  }

  th {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  tbody tr {
    max-height: 58px;
    line-height: 19px;
  }
}

.table-responsive {
  margin-bottom: 0;
  padding-bottom: 0;
}

.stat-card {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  border: none;
  height: 200px;
  max-height: 300px;
  box-shadow: none !important;
  .card-body {
    padding: 0;
  }
  padding: 25px 30px;
}

.container {
  max-width: 88%;
}

#settings .container {
  max-width: 81%;
  .card-body {
    padding: 20px 32px 32px 32px;
  }
  @media (max-width: 768px) {
    max-width: 89%;
  }
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

ul.dropdown-menu.show {
  background: #ffffff;
  border: 0.1px solid #1d1d1d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  padding: 15px;
  li {
    font-size: 14px;
    line-height: 19px;
    font-family: 'Avenir Regular';
    color: $primary-text-color;
  }
}

.line-down {
  margin: 0 24px;
}

#settings .line-down {
  margin: 0;
}
