.row div {
  margin: 0.5em 0;
}

.table-card > .card-body {
  padding: 0;
  border-radius: 0;
  .table-striped tbody tr:nth-of-type(odd) {
    background: #f8f7f6;
  }
}

.stat-card {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  border: none;
  height: 200px;
  max-height: 300px;
  box-shadow: none !important;
  .card-body {
    padding-top: 0;
  }
}

.container {
  max-width: 88%;
}

#settings .container {
  max-width: 81%;
  .card-body {
    padding-right: 30px;
    padding-left: 30px;
  }
  @media (max-width: 768px) {
    max-width: 89%;
  }
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
